
/* Paleta de cores */
:root {
    --azul-principal: #0056b3;
    --cinza-escuro: #1A1F36;
    --cinza-claro: #AAB2C3;
    --branco: #FFFFFF;
    --preto: #000000;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--branco);
    color: var(--cinza-escuro);
}

header {
    background-color: var(--cinza-escuro);
    color: var(--branco);
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    text-align: center;
    flex-grow: 1;
}

header img {
    max-width: 100px;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--azul-principal);
    padding: 1em 0;
}

nav a {
    color: var(--branco);
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--cinza-escuro);
    border-radius: 5px;
}

section {
    padding: 2em;
    text-align: center;
}

section h2 {
    color: var(--azul-principal);
    margin-bottom: 1em;
}

footer {
    background-color: var(--cinza-escuro);
    color: var(--branco);
    text-align: center;
    padding: 1em 0;
}

/* Estilização da seção de serviços */
.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.service-card {
    background-color: var(--cinza-claro);
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
    color: var(--azul-principal);
    margin-bottom: 10px;
}

.service-card p {
    font-size: 14px;
    color: var(--cinza-escuro);
}

.cta {
    background-color: var(--azul-principal);
    color: var(--branco);
    padding: 1em;
    margin: 2em auto;
    width: 50%;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.cta:hover {
    background-color: var(--cinza-escuro);
    color: var(--branco);
}
